/vendor
/node_modules
/bower_components
/public/storage
Homestead.yaml
Homestead.json
.env
.DS_Store
.idea/
.env.example
/public
/storage
composer
.gitignor
_ide_helper.php
config/ide-helper.php
public/assets/fonts
/resources/assets/front/bower_components
/resources/assets/sass/bootstrap-sass/
/nbproject
/composer.lock
